.card{
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 212px;
    width: 212px;
    
    /* margin: auto; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.card-shell{
    height: 520px;
    
    display: inline-block;
    max-width: 390px;
    max-height: 520px;
    
    padding-bottom: 10px;
    
}
@media screen and (max-width:800px){
    .card-shell{
        max-width: 180px;
        max-height: 420px;
    }
    .description{
        font-size: 13px;
    }
    
}
.price{
    color: red;
    font-size: 22px;
}

.description{
    text-align: left;
    max-width: 290px;
    max-height: 228px;
    height: 228px;
    overflow: hidden;
}
.card-button{
    border:none;
    outline: 0;
    padding: 0;
    color: white;
    background-color: orange;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
    border-radius: 4px;
    height: 30px;
}
.card-button:hover{
    opacity: 0.7;
}

.image-box{
    width: 112px;
    height: 122px;
}
.image-size{
    max-width: 112px;
    max-height: 122px;
    width: 112px;
    height: 122px;
}